body {
  text-align: center;
  background-color: #696969;
}

div {
  margin-top: 50px;
}

img {
	border-radius: 90%;
}

.imageClass {
  display: flex;
  justify-content: center;
}

.section-style {
   left: 50%;
   top: 50%;
}