body {
  text-align: center;
  color: #111;
  background-color: #ffffff;
}

div {
  /* margin-top: 50px; */
}

img {
	border-radius: 50%;
}

.imageClass {
	margin-left: 200px;
	display: flex;
	justify-content: center;
}

.section-style {
   left: 50%;
   top: 50%;
}

.sideMenu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 200; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1d1d16; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}