@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* CHANGE COLORS BELOW */
    .primary-color-text {
        @apply text-stone-200;
    }

    .primary-color-bg {
        @apply bg-stone-300;
    }

    .secondary-color-text {
        @apply text-rose-300;
    }

    .tertiary-color-text {
        @apply text-stone-200;
    }

    .tertiary-color-bg {
        @apply bg-slate-500;
    }

    .icon-color-text {
        @apply text-gray-400;
    }

    .paragraph-color-text {
        @apply text-stone-200;
    }

    .paragraph-color-bg {
        @apply bg-stone-400;
    }

    .main-color-bg {
        @apply bg-gradient-to-r from-stone-900 to-rose-950;
    }

    .cool-button-text-color {
        @apply text-rose-950;
    }
    /* ^^ CHANGE COLORS ABOVE ^^ */

    /* Styles */
    .primary-text {
        @apply primary-color-text;
        @apply font-bold;
        @apply text-left;
    }  

    .secondary-text {
        @apply secondary-color-text;
        @apply text-left;
    }

    .paragraph-text {
        @apply paragraph-color-text;
        @apply text-xl;
        @apply text-left;
    }

    /* Cards */
    .dynamic-card {
        @apply rounded-xl;
        @apply paragraph-color-bg;
        @apply bg-opacity-10;
        @apply shadow-sm;
        @apply shadow-stone-800;
    }

    .dynamic-card:hover {
        @apply transition;
        @apply ease-in-out;
        @apply scale-105;
        @apply shadow-lg;
        @apply shadow-stone-900;
    }

    /* Icons */
    .dynamic-hover {
        @apply rounded-lg;
    }

    .dynamic-hover:hover {
        @apply transition;
        @apply ease-in-out;
        @apply scale-105;
        @apply paragraph-color-bg;
        @apply bg-opacity-10;
    }
}

@layer base {
    html {
      font-family: Helvetica;
    }

    h1 {
        @apply text-3xl;
        @apply md:text-4xl;
        @apply font-bold;
        @apply text-center;
        @apply primary-color-text;
    }

    h2 {
        @apply text-2xl;
        @apply md:text-3xl;
        @apply text-center;
        @apply primary-color-text;
    }

    h3 {
        @apply text-xl;
        @apply md:text-2xl;
        @apply secondary-color-text;
        @apply first:pt-0;
        @apply pt-8;
    }

    h4 {
        @apply text-lg;
        @apply md:text-xl;
        @apply primary-color-text;
        @apply first:pt-0;
        @apply pt-14;
    }

    h5 {
        @apply md:text-xl;
        @apply primary-color-text;
        @apply first:pt-0;
        @apply pt-14;
    }

    p {
        @apply pt-2;
        @apply md:text-xl;
        @apply paragraph-color-text;
        @apply leading-8;
    }

    em {
        @apply tertiary-color-text;
    }

    a {
        @apply secondary-color-text;
    }
    a:hover {
        @apply primary-color-text;
    }

    a.blogLink {
        @apply primary-color-bg;
    }

    li {
        list-style-type: square;
        list-style-position: inside;
        @apply text-left;
    }

    ul {
        @apply pt-4;
        @apply pl-4;
        @apply md:text-xl;
    }

    code {
        @apply tertiary-color-bg;
        @apply bg-opacity-20;
        @apply rounded-lg;
    }

    pre {
        @apply mt-[3%];
        @apply p-[2%];
        @apply tertiary-color-bg;
        @apply bg-opacity-20;
        @apply rounded-lg;
        @apply overflow-auto;
    }
}